{% extends 'front/base.html' %}

{% block title %}{{ profile.user.username }}{% endblock %}

{% block content %}
    {% load humanize %}

    <h1>{{ profile.user.username }}</h1>
    <h2>{{ profile.phone|default_if_none:'' }} | {{ profile.address|default_if_none:'' }}</h2>

    <hr>
<div class="row row-cols-3 row-cols-md-3 g-4">
{% with p_user=posts.0.user %}
    {% for post in posts %}
        <div class="col">
            <div class="card" >
                <div class="card-header">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title}}</h5>
                        <p class="card-text">{{ post.comments }}</p>
                        {% if user == p_user %}
                         <a href="{% url 'update' post.id %}"><span class="badge rounded-pill text-bg-primary">Изменить</span></a>
                        {% endif %}
                        <a href="{% url 'get_post' post.id %}"><span class="badge rounded-pill text-bg-success">Читать</span></a>
                      </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{ post.date | naturaltime }}</small>
                </div>
            </div>
        </div>
    {% endfor %}
{% endwith %}
</div>
{% endblock %}