{% extends 'front/create_post.html' %}

{% block delete %}
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Удалить
</button>
<!-- Модальное окно -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Вы уверены, что хотите удалить эту запись?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>

          <form method="post" action="{% url 'delete' object.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Удалить</button>
          </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}